@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #F0F1F3;
    --branco: #FFFFFF;
    --laranja: #E68A00;
    --azul-degrade: linear-gradient(97.54deg, #003b66 35.49%, #407a9e 165.37%);
    --fonte-principal: "Poppins", sans-serif;
    --azul: #003B66;
    --cinza-claro: #D0D0D0;
    --preto: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--preto);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


a {
    text-decoration: none;
    color: var(--azul);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--laranja);
}

button {
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c87c00; 
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


