.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 10;
    border-radius: 4px; 
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    border-bottom: 1px solid var(--cinza-claro);
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.lista-menu__link:hover {
    color: var(--laranja); 
}

.container__botao {
    display: none;
}
